Arquivo estilo CSS
Estudante: Acsa Ester Carvalho Lima da Silva  nº:31  
2ºB

body {
background-color: #FFC0CB
font-family: Montserrat
padding: 20px;
margin: 0;
}

header {
background-color: #EE82EE
color: black;
padding: 20px;
text-align: center;
}

h1  {
font-size: 32px;
margin: 0;
}

main {
margin: 30px auto;
max-width: 800px;
}

p {
